# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Temporary build artifacts
_temp*

# Virtual environments
.venv/
venv/
env/

# Editor & IDE settings
.vscode/
.idea/
*.swp
*.swo

# Windows system files
[Dd]esktop.ini
Thumbs.db
ehthumbs.db
